.buttons,
#add-timer-wrapper,
#static-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add {
  width: 6rem;
}
.buttons {
  grid-column: 3 / 4;
}
.content {
  margin-top: 10px;
}
.control {
  padding: 5px;
}
.done {
  color: limegreen;
}
.name {
  grid-column: 2 / 3;
  font-size: 1rem;
}
.time {
  grid-column: 1 / 2;
  font-weight: bold;
}
.timer {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-column-gap: 10px;
  align-items: center;
  padding: 3px 3px 3px 10px;
}
.time-in {
  width: 2rem;
  text-align: center;
}

.time-in::-webkit-inner-spin-button,
.time-in::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-timer-wrapper,
#static-footer {
  padding: 5px;
}
#add-timer-wrapper {
  border-bottom: 1px solid #000000;
}
#control-all {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
}
#name {
  width: calc(100% - 234px);
}
#pause-all-timers {
  grid-column: 1 / 2;
}
#reset-all-timers {
  grid-column: 2 / 3;
}
#static-footer {
  border-top: 1px solid #41555f;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#timers,
#timers > .timer {
  border-top: 1px solid #41555f;
  border-bottom: 1px solid #000000;
}
#timers {
  overflow-y: auto;
  height: calc(100vh - 82px);
}

#timers > .timer:first-child {
  border-top: none;
}
#timers > .timer:last-child {
  border-bottom: none;
}

#timers::-webkit-scrollbar {
  display: none;
}
