.pb2-flex-h {
  display: grid;
  grid-template-columns: auto min-content;
}

.pb2-flex-h > .pb2-int,
.pb2-flex-h > .pb2-string {
  font-family: monospace;
  text-align: right;
}

.pb2-flex-h > .pb2-text {
  grid-column: 1 / 2;
}

.pb2-flex-h > .pb2-int {
  grid-column: 2 / 3;
  width: 3ch;
}

.pb2-flex-h > .pb2-string {
  grid-column: 2 / 3;
  width: 7ch;
}

.pb2-int::-webkit-inner-spin-button,
.pb2-int::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
